@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.background {
  background-color: #72a1bf;
  height: 100vh;
}

.card {
  width: 75%;
}

.bg-darkblue {
  background-color: #074770;
}
.bg-lightblue {
  background-color: #f2faff;
}

label {
  color: #a5c0d1;
}

.button-add {
  border-radius: 50ex;
  background-color: #ffffff;
  color: #074770;
  padding: 0.65rem 3rem;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  &:hover {
    opacity: 0.8;
  }
}

.button-add.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-route {
  border-radius: 50ex;
  background-color: #074770;
  color: #ffffff;
  padding: 0.65rem 3rem;
  border: none;
  font-weight: 700;
  transition: all 0.2s ease-in;
  &:hover {
    opacity: 0.8;
  }
}

.button-route.disabled {
  background-color: #c6d1d9;
  color: #838a8f;
  cursor: not-allowed;
}
